$on: #427cdc;
$bg: #d9cb9e;
$off: #374140;

@mixin center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin userSelect($value){
	-webkit-touch-callout: $value;
	-webkit-user-select: $value;
	-khtml-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: value;
	user-select: $value;
}

@mixin ui-toggle($height, $on, $off){
	margin: 0;
	padding: 0;
	
	input[type="checkbox"]{
		display: none;
		
		&:checked + label{
			border-color: $on;
			background: $on;
			box-shadow: inset 0 0 0#{$height / 2} $on;

			> div{
				margin-left: $height - 4;
			}
		}
	}

	label{
		transition: all 200ms ease;
		display: inline-block;
		position: relative;
		@include userSelect(none);
		background: $off;
		box-shadow: inset 0 0 0 0 $on;
		border: 2px solid $off;
		border-radius: $height + 2;
		width: $height * 2;
		height: $height + 2px;

		div{
			transition: all 200ms ease;
			background: #ffffff;
			width: $height;
			height: $height;
			border-radius: $height / 2;
			margin-top: 1px;
		}

		&:hover,
		& > div:hover{
			cursor: pointer;
		}
	}
}

div.ui-toggle{
	@include ui-toggle(18px, $on, $off);
	text-align: left;
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
} 