#bpAddEditProperty{
	display: none;
	background: #fff;
	opacity: 0.95;
	text-align: center;
}

#bpAddEditProperty form{
	margin: 0 15px;
}

#propertiesDialog, #incexp2propDialog, #incexpDialog{
	display: none;
	background: #fff;
	opacity: 0.95;
	text-align: left;

	& form {
		margin: 0 15px;


	}
	& ul li a:not(.active) {
		cursor: pointer;
	}
}

.status {
	color: green;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 38%;
    right: 20px;
}