#bpAddEditProperty{
	display: none;
	border: 1px solid gray;
	border-radius: 3px;
	background: #fff;
	opacity: 0.95;
	text-align: center;
}

#bpAddEditProperty form{
	margin: 0 15px;
}

#bpDialog{
	display: none;
	border: 1px solid gray;
	border-radius: 3px;
	background: #fff;
	opacity: 0.95;
	text-align: center;
}

#bpDialog form{
	margin: 0 15px;
}