.bp-data-table {
	width: 100%;
	border-spacing: 5px;
	text-align: left;

	&,
	& th,
	& td {
		border: 1px solid #ccc;
		border-collapse: collapse;
		padding: 10px;
	}

	& .property-link:hover{
		cursor: pointer;
	}

	& th {
		background-color: lightslategrey;

		& div.dashicons-arrow-down{
			color: red;
		}
		
		& div.dashicons-arrow-up{
			color: green;
		}
	}

	& .text-center {
		text-align: center;
	}

	& .bp-data-table-legend {
		opacity: 0.7;
		& span {
			font-size: 17px;
		}

		& span.delete {
			color: #dc3232;
		}
	}
}

.form-table{
	& td {
		position: relative;
	}
}

span.dashicons-no-alt{
	position: absolute;
}